/* Mobile */
@media (max-width: 767.98px) {
    .header-top {
        height: auto;
        padding: 0 15px 15px;
        border-bottom: 1px solid #d6d3e2;
    }

    .header-top .logo {
        position: relative;
        width: 42px;
        height: 42px;
        left: 0;
        transform: none;
    }

    .header-top .mail {
        margin-left: auto;
        margin-right: 10px;
    }

    .header-top .mail-icon {
        width: 32px;
        height: 32px;
    }

    .header-top .nav {
        margin-right: 0;
    }

    .header-top .nav-list,
    .header-top .mail-text {
        display: none;
    }

    .header-top .nav-icon {
        display: block;
        width: 32px;
        height: 32px;
    }

    .header-top .nav-icon img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        transition: 0.5 ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 0 0 40%;
        background: #fff;
        z-index: 11;
        transform: translateX(100%);
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0%);
        transition: 0.6 ease;
    }

    .menu-drawer .nav-list {
        display: flex;
        flex-direction: column;
    }

    .menu-drawer .nav-item a {
        font-size: 1.8rem;
        font-weight: 400;
        color: #51586a;
        line-height: 1.33;
        display: block;
        padding: 15px;
    }

    .menu-drawer .nav-item.active a {
        color: rgb(80, 185, 185);
        text-decoration: underline;
    }

    /* Header Content */
    .header-content {
        flex-direction: column-reverse;
        row-gap: 100px;
        padding: 50px 15px 0;
        overflow: hidden;
    }

    .header-content .bg-2 {
        display: none;
    }

    .header-content .avatar {
        width: 259px;
        height: 355px;
    }

    .header-content .avatar .bg-1 {
        width: 500px;
        left: -50%;
    }

    .header-content .content {
        width: 100%;
    }

    .header-title {
        font-size: 4.2rem;
        width: 260px;
    }

    .header-desc {
        font-size: 1.6rem;
        width: 318px;
    }

    .header-cta {
        margin-top: 40px;
    }

    .btn {
        max-width: 147px;
        padding: 14px 28px;
        font-size: 1.6rem;
    }

    .my-work-link {
        font-size: 1.6rem;
        margin-left: 40px;
    }

    .social {
        margin-top: 40px;
    }

    .social span {
        font-size: 1.4rem;
    }

    .social-icon {
        width: 31px;
        height: 31px;
    }

    .social-icon svg {
        width: 12px;
        height: 12px;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1199.98px) {
    .mobile-header {
        display: none;
    }

    .header-top {
        height: 60px;
    }
    .header-top .logo {
        width: 60px;
        height: 60px;
        left: 30%;
    }

    .header-top .mail-icon {
        width: 34px;
        height: 34px;
    }

    .header-top .mail-text {
        display: none;
    }

    .header-top .nav-item a {
        padding: 16px;
        font-size: 1.6rem;
        font-weight: 400;
        color: #51586a;
        line-height: 1.33;
    }

    /* Header Content */
    .header-content {
        flex-direction: column-reverse;
        row-gap: 100px;
    }

    .header-content .bg-2 {
        display: none;
    }

    .header-content .avatar {
        width: 440px;
        height: 602px;
    }

    .header-content .avatar .bg-1 {
        width: 775px;
    }

    .header-title {
        font-size: 6rem;
    }

    .header-desc {
        font-size: 1.6rem;
    }

    .header-cta {
        margin-top: 40px;
    }

    .btn {
        max-width: 160px;
        font-size: 1.6rem;
    }

    .my-work-link {
        font-size: 1.6rem;
    }

    .social {
        margin-top: 40px;
    }

    .social span {
        font-size: 1.4rem;
    }

    .social-icon {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 1200px) {
    .mobile-header {
        display: none;
    }
}
